@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
    font-family: "Valhalica";
    src: url("/tattoo/Valhalica-Regular.otf");
}

:root {
    --secondary-color: #0a0936;
    --accent-color: #0095f6;
    --background-color: #f0f0f0;
    --text-color: #333;
    --light-text-color: #fff;
    --border-radius: 10px;
    --transition-duration: 0.3s;
}

* {
    font-family: "DM Sans", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    color: var(--text-color);
}

html {
    height: 100%;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    color: whitesmoke;
    background-color: #181818;
    text-align: center;
    z-index: 100;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 6px;

}

@media screen and (max-width: 768px) {
.copyright{
    font-size: 12px;
}
}

.footer-img {
    width: 20px;
    filter: invert(.8);
}

/* Next Button */
.next-button {
    position: fixed;
    right: 1vw;
    bottom: 2vh;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    padding: 25px 35px;
}

.next-image {
    width: 50px;
    height: 50px;
    filter: invert(1);
}

a {
    text-decoration: none;
    color: inherit;
}

.ig-name {
    color: var(--text-color);
}

.address {
    text-decoration: none;
    color: var(--light-text-color);
}

/* Nav */
.nav {
    display: flex;
    flex-direction: column;
    padding: 25px 35px;
    font-size: 64px;
    color: var(--light-text-color);
    font-weight: 600;
    width: 600px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
}

.nav-container {
    position: absolute;
    top: 0;
    right: -600px;
    width: 100%;
    background: linear-gradient(to left, #181818, #1818189f 70%, #18181800);
    transition: transform var(--transition-duration) ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px;
}

.nav.active .nav-container {
    transform: translateX(-600px);
}

.nav-item {
    opacity: 0;
    transform: translateX(400px);
    transition: all var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    color: #F5F5F5;
    font-size: 94px;
    padding: 15px 25px;
    position: relative;
    pointer-events: none;
    font-weight: 700;
    cursor: pointer;
    font-family: "Valhalica";
}

.nav-item.visible {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.nav-item:hover {
    color: #5a91c0;
    transition: color var(--transition-duration) ease-in-out;
}

/* Nav icon */
.nav-icon {
    width: 30px;
    height: 22.5px;
    position: relative;
    z-index: 10;
    margin: 50px auto;
    transform: rotate(0deg);
    transition: var(--transition-duration) ease-in-out;
    cursor: pointer;
}

.nav-icon span {
    display: block;
    position: absolute;
    height: 4.5px;
    width: 100%;
    background: var(--light-text-color);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transition: var(--transition-duration) ease-in-out;
}

.nav-icon span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

.nav-icon span:nth-child(2) {
    top: 9px;
    transform-origin: left center;
}

.nav-icon span:nth-child(3) {
    top: 18px;
    transform-origin: left center;
}

.nav-icon.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -1.5px;
    left: 4px;
}

.nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 19.5px;
    left: 4px;
}

.nav-icon-container {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    cursor: pointer;
    padding: 0px 35px;
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: all var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-icon-container.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .nav-container {
        width: 96vw;
        right: -96vw;
        background: linear-gradient(to left, #181818, #181818ce, #18181800);
    }

    .nav.active .nav-container {
        transform: translateX(-96vw);
    }

    .nav-item {
        font-size: 64px;
        padding: 12px 25px;
        text-align: right;
        margin-right: 20px;
    }

    .nav-icon {
        width: 30px;
        height: 20px;
        margin: 25px auto;
    }

    .nav-icon span {
        height: 3px;
        width: 100%;
    }

    .nav-icon span:nth-child(2) {
        top: 9px;
    }

    .nav-icon span:nth-child(3) {
        top: 18px;
    }

    .nav-icon.open span:nth-child(1) {
        top: 0;
        left: 3px;
    }

    .nav-icon.open span:nth-child(3) {
        top: 20px;
        left: 3px;
    }

    .nav-icon-container {
        padding: 0px 25px;
        top: 15px;
    }
}

/* smaller screens */
@media screen and (max-width: 480px) {
    .nav-item {
        font-size: 64px;
        margin-right: 15px;
    }

    .nav-icon {
        width: 30px;
        height: 20px;
    }

    .nav-icon span {
        height: 4px;
    }

    .nav-icon.open span:nth-child(1) {
        top: 0;
        left: 3px;
    }

    .nav-icon.open span:nth-child(3) {
        top: 20px;
        left: 3px;
    }
}

/* Pop-up*/
.bg {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.pop-up {
    background-color: var(--background-color);
    display: flex;
    overflow: hidden;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    border-radius: var(--border-radius);
}

.pop-up-contact {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    border-radius: var(--border-radius);
    padding: 30px 40px;
}

@media only screen and (max-width: 700px) {
    .pop-up-contact {
        flex-direction: column;
        justify-content: start;
        height: 80vh;
        overflow-y: scroll;
    }

    .pop-up-abtUs {
        padding: 0;
    }
}

.pop-up-abtUs {
    background-color: var(--background-color);
    display: flex;
    overflow: hidden;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    border-radius: var(--border-radius);
    max-height: 80%;
}

@media only screen and (max-width: 460px) {
    .pop-up-abtUs {
        padding: 0;
    }
}

.box1 .title,
.box2 .title {
    align-self: flex-start;
    font-family: "Valhalica";
    font-size: 46px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(to bottom right, var(--secondary-color), var(--secondary-color));
    padding: 40px 30px 40px 40px;
    color: var(--light-text-color);
    border-radius: var(--border-radius);
    flex: 1;
}

.box2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 0px 0px 10px;
    flex: 1;
}

.privacy{
    text-decoration: underline;
}

.title {
    font-size: 36px;
    font-weight: 700;
}

.info-profile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 70px 0 70px;
    margin-top: 20px
}

.subtitle {
    font-size: 20px;
    margin-bottom: 6px;
    font-weight: 600;
}

.icons {
    margin-top: 4px;
    display: flex;
    gap: 15px;
    filter: invert(1);
}

.icon {
    width: 25px;
}

.text {
    font-size: 14px;
}

/* form */
form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 450px;
}

.form_title {
    margin-bottom: 2px;
}

.input {
    height: 40px;
    width: 97%;
    border-radius: 6px;
    border: 1px solid gray;
    padding-left: 10px;
}

input::placeholder {
    opacity: 0.7;
    position: absolute;
    left: 10px;
}

input[type=number] {
    appearance: textfield;
  }

.btn {
    width: 100%;
    height: 50px;
    margin-top: 12px;
    color: var(--light-text-color);
    background-image: linear-gradient(to bottom right, var(--secondary-color), var(--secondary-color));
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color var(--transition-duration) ease, transform var(--transition-duration) ease;
    transform: translateY(0px);
    font-weight: 600;
}

.btn:hover {
    background-image: linear-gradient(to bottom right, var(--secondary-color), var(--secondary-color));
    transform: translateY(-3px);
}

textarea {
    resize: none;
    border-radius: 6px;
    border: 1px solid gray;
    height: 70px;
    width: 97%;
    padding-left: 10px;
    padding-top: 10px;
}

textarea::placeholder {
    opacity: 0.7;
    position: absolute;
    left: 10px;
    top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form_text {
    font-size: 12px;
}

.policy {
    line-height: 14px;
}

.checkbox {
    height: 10px;
}

/* Responsive Styles */

/* Tablet (max-width: 768px) */
@media (max-width: 768px) {
    .pop-up {
        flex-direction: column;
        margin-top: 50px;
    }

    .box1 {
        padding: 40px 0px 30px 40px;
    }

    .box2 {
        padding: 0px 0px 0px 0px;
    }

    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 18px;
    }

    .icons {
        gap: 12px;
    }

    .icon {
        width: 22px;
    }

    .btn {
        height: 45px;
    }

    textarea {
        height: 60px;
    }
}

/* Mobile (max-width: 480px) */
@media (max-width: 480px) {
    .pop-up {
        padding: 20px;
    }

    .box1,
    .box2 {
        padding: 15px;
    }

    .title {
        font-size: 24px;
    }

    .subtitle {
        font-size: 16px;
    }

    .text {
        font-size: 12px;
    }

    .icons {
        gap: 10px;
    }

    .icon {
        width: 18px;
    }

    .btn {
        height: 40px;
    }

    textarea {
        height: 50px;
    }

    .form_text {
        font-size: 10px;
    }
}

/* Pop-up */
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.829);
    opacity: 1;
    z-index: 9999;
    transform: scale(1);
    animation: growCircle var(--transition-duration) ease-in-out forwards;
    pointer-events: all;
}

@keyframes growCircle {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
        scale: 0;
        top: 50%;
        left: 50%;
    }

    100% {
        width: 100vw;
        height: 100vh;
        opacity: 1;
        scale: 1;
        top: 0;
        left: 0;
    }
}

@keyframes removeCircle {
    100% {
        width: 0;
        height: 0;
        opacity: 0;
        scale: 0;
        top: 50%;
        left: 50%;
    }

    0% {
        width: 100vw;
        height: 100vh;
        opacity: 1;
        scale: 1;
        top: 0;
        left: 0;
    }
}

.popup.closed {
    opacity: 0;
    pointer-events: none;
    animation: removeCircle var(--transition-duration) ease-in-out forwards;
}

.popup.show {
    opacity: 1;
    transform: scale(1);
}

.popup.hide {
    opacity: 0;
    pointer-events: none;
}

.close-popup {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 14px 16px;
    line-height: 16px;
    font-size: 32px;
    color: var(--light-text-color);
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .close-popup {
        top: 0px;
        right: 0px;
    }
}

.menu {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.menu-button {
    background-color: var(--accent-color);
    color: var(--light-text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: var(--border-radius);
    font-size: 18px;
}

.menu-button:hover {
    background-color: darkblue;
}

.box {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.abtUs {
    width: 50vw;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
}

.data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.person-image {
    height: 30vh;
    width: auto;
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
    .person-image {
        height: 60vh;
    }
}

.person-name {
    font-family: "Valhalica";
    font-size: 48px;
}

.projects-container{
    margin-top: 40px;
}

.project-title{
    padding-left: 18px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.project {
    width: 12vw;
    min-width: 150px;
    margin-bottom: 10px;
}

/* Responsive fuxes*/
@media (max-width: 1024px) {
    .abtUs {
        width: 70vw;
    }

    .person-name {
        font-size: 36px;
    }

    .person-image {
        height: 25vh;
    }

    .project {
        width: 18vw;
    }
}

@media (max-width: 768px) {
    .abtUs {
        width: 90vw;
        max-width: 500px;
    }

    .data {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .person-image {
        height: 30vh;;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .person-name {
        font-size: 48px;
    }

    .projects {
        justify-content: center;
    }

    .project {
        
        width: 26vw;
        min-width: 120px;
    }
}

@media (max-width: 480px) {
    .abtUs {
        width: 95vw;
    }

    .person-name {
        font-size: 48px;
    }

    .project {
        width: 80vw;
    }
}

.nav-content .logo {
    height: 29px;
}

.nav-content {
    margin-top: 20px;
    max-width: 935px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 735px) {
    .nav-content {
        padding: 0 20px;
    }
}

/* Profile */
header {
    margin-bottom: 44px;
}

.header-wrap {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
}

@media only screen and (max-width: 735px) {
    header {
        display: block;
        margin-bottom: 0px;
    }

    .header-wrap {
        display: flex;
        padding: 14px;
        column-gap: 0px;
    }
}

.header-wrap .profile-pic {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrap .profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    border: 1px solid hsl(0, 0%, 86%);
}

@media only screen and (max-width: 735px) {
    .header-wrap .profile-pic {
        width: 80px;
        height: 80px;
        margin-right: 28px;
    }

    .header-wrap .profile-pic img {
        width: 100%;
        height: 100%;
    }
}

.profile-info .title h2 {
    font-size: 28px;
    font-weight: 300;
}

.profile-info .title span {
    margin-left: 8px;
}

.profile-info .title button {
    margin-left: 20px;
}

@media only screen and (max-width: 735px) {
    .profile-info .title h2 {
        display: inline-block;
        margin-bottom: 12px;
        font-size: 20px;
    }

    .profile-info .title span {
        display: inline-block;
    }

    .profile-info .title button {
        display: block;
        margin-left: 0px;
    }
}

.profile-info .title {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 735px) {
    .profile-info .title {
        display: block;
    }
}

.profile-info .details li {
    font-size: 16px;
    font-weight: 400;
    margin-right: 40px;
    display: flex;
    gap: 6px;
}

.profile-info .details li:last-child {
    margin-right: 0px;
}

.profile-info .details li span {
    font-weight: 600;
}

.profile-info .details ul {
    display: flex;
    list-style-type: none;
}

.profile-info .descriptions h1 {
    font-weight: 600;
    line-height: 24px;
}

.profile-info .descriptions span {
    font-weight: 400;
    line-height: 24px;
}

.profile-info .descriptions a {
    color: hsl(209, 100%, 21%);
}

@media only screen and (max-width: 735px) {
    .profile-info .descriptions {
        padding-bottom: 21px;
        font-size: 14px;
        margin-bottom: 0px !important;
        width: 100%;
        text-align: center;
    }

    .profile-info .descriptions h1 {
        line-height: 20px;
    }

    .profile-info .descriptions span {
        line-height: 20px;
    }
}

.profile-info .row {
    margin-bottom: 20px;
}

.profile-info .row.last {
    margin-bottom: 0px;
}

.slider-button-next {
    position: sticky;
    right: 0;
    cursor: pointer;
}

/* Tabs */
.tab-item span {
    font-size: 12px;
    font-weight: 600;
    color: hsl(0, 0%, 56%);
    margin-left: 6px;
}

.tab-item {
    display: flex;
    align-items: center;
    height: 52px;
}

.tab-item.active {
    border-top: 1px solid hsl(0, 0%, 15%);
    margin-top: -1px;
    color: hsl(0, 0%, 15%);
}

.tabs {
    border-top: 1px solid hsl(0, 0%, 86%);
    display: flex;
    justify-content: center;
}

/* Gallery */
.gallery {
    gap: 16px;
    max-width: 70vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

@media only screen and (max-width: 864px) {
    .gallery {
        gap: 6px;
        display: flex;
        justify-content: center;
    }
}

.gallery-item {
    position: relative;
}

.gallery-item img {
    width: 26vw;
    height: 26vw;
    object-fit: cover;
    display: block;
}

@media only screen and (max-width: 768px) {
    .gallery-item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    .gallery-item img {
        width: 155px;
        height: 155px;
        object-fit: cover;
        display: block;
    }
}

.gallery-item .media-icon {
    position: absolute;
    top: 0px;
    right: 0px;
}

main {
    padding: 0px 60px 0px 60px;
    max-width: 80vw;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media only screen and (max-width: 735px) {
    main {
        padding: 0;
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #55555555;
}

.btn-ig {
    all: unset;
    font-weight: 600;
    font-size: 14px;
    color: #0095f6;
    -webkit-text-fill-color: #0095f6;
    line-height: 18px;
    padding: 5px 9px;
    border-radius: 4px;
}

.btn-primary {
    background-color: #0095f6;
    color: white;
    padding: 5px 9px;
    border: none;
    border-radius: 4px;
}

.mobile-only {
    display: none;
}

@media only screen and (max-width: 735px) {
    .mobile-only {
        display: flex;
        flex-direction: column;
    }

    .mobile-only ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-right: 20px;
    }

    .actions {
        display: flex;
        gap: 50px;
        margin-bottom: 20px;
        justify-content: center;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 735px) {
    .desktop-only {
        display: none;
    }

    .box {
        width: 100%;
    }
}

.search-icon {
    background-image: url("/images/icons.png");
    background-size: 440px 411px;
    background-position: -428px -241px;
    width: 10px;
    height: 10px;
    display: block;
}

.verfied-icon {
    display: inline-block;
    background-image: url("/images/icons.png");
    background-position: -194px -351px;
    background-size: 440px 411px;
    width: 18px;
    height: 18px;
}

.arrow-right-icon {
    background-image: url("/images/icons.png");
    background-size: 440px 411px;
    background-position: -402px -207px;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
}

.media-icon {
    background-image: url("/images/icons-2.png");
    background-size: 65px 65px;
    background-position: 0 0;
    display: block;
    width: 32px;
    height: 32px;
}

/* Centered names columnn */
.names-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    gap: 20px;
}

.name-item {
    font-size: 67px;
    font-family: "Valhalica";
    font-weight: bold;
    cursor: pointer;
    transition: color var(--transition-duration) ease-in-out;
}

.name-item:hover {
    color: #5a91c0;
}

/* Back button */
.back-button {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 10px 20px;
    font-size: 16px;
    background-image: linear-gradient(to bottom right, var(--secondary-color), #0e0d42);
    color: var(--light-text-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-duration) ease-in-out;
}

.back-button:hover {
    background-color: var(--accent-color);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .name-item {
        font-size: 64px;
    }

    .back-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {

    .name-item {
        font-size: 64px;
    }

    .back-button {
        font-size: 12px;
        padding: 6px 12px;
    }
}